In [18]:
# import dependencies
from sqlalchemy import create_engine
import pandas as pd
from config import password

In [19]:
engine = create_engine('postgresql://postgres:'+password+'@localhost:5432/sql_challenge')
conn=engine.connect()

In [20]:
# read table “titles” from mydatabase
df_titles=pd.read_sql("Select * from titles",conn)
df_titles.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01